<html>
    <link rel="stylesheet" href="style.css">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>ABOUT | RRC CS</title>
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="/Home">HOME </a>
            <a href="/tech">TECHNOLOGY </a>
            <a href="/Nature">NATURE </a>
            <a href="/faculty">FACULTY </a>
            <a href="/devs">DEV </a>
            <a href="/about">ABOUT </a>
        </div>
        <center>
            <div class="mail">
                <a href="mailto:sunilkumardeveops@gmail.com">MAIL US<img src="IMGS/mail2.jpg" height=50px width=70px></a>
    </div>
    </center>
    <h1 align="center">ABOUT THE ORGANIZATION</h1>
        <div class="aboutbl">
            <h2 align="center">DEPARTMENT OF COMPUTER SCIENCE</h2>
            <p>
                The Department of Computer Science was established in the year 1993, with the objective of impacting quality education in the field of Computer Science. Even with rapidly evolving technology and the continuous need for innovation. The department has been produced quality professionals, holding important positions in Information Technology industry in India and abroad.   
                </p><p>
                The Department conducts a Post Graduate Diploma in Computer Applications (PGDCA) programme that offered by Madurai Kamaraj University from 1994. Mr. P.Ramasubramanian, was the HOD of our department from 1993 to 1995. Subsequently Mr. Suresh got the charge from him in 1995 and then he continued the post till the year 2002. The Department has started the Master of Computer Science (CS & IT) programme in the year 2000 with the aim to develop core competence in Computer Science and has been prepared the students to carry out development work, as well as to take up challenges in placements.
                </p><p>
                The Department started the two years Master of Computer Science programme in the year 2017, which is the first among such programme in rural area. Mr. R.S.Mohan got the charge as HOD from Mr.Suresh in the year 2002 and continued the position till 2004 on his transfer as HOD of Computer Application Department till his return to the HOD of CS in 2009. Until that Mr.R.Selvavinayagam acted as the HOD of CS Department. The Certificate course in Information Technology, Diploma in Information Technology and Advanced diploma in Information Technology are UGC sponsored courses conducted by this Department from 2008. Mr. R.S.Mohan is the Head of the Department from 2009 till February 2019 followed by Mr. M.Ramkumar till April 2019. Mrs S. Deepalakshmi has been acting as Head of the Department and with her vision, dedication and courage, the Department moves in right path. The faculty members are Mrs. D. Jothi, Mr. M.Ganesh kumar, Ms. D.Saranya, Mrs. B.Murugesari, Mrs. A.Nesarani. Under the able guidance of the Management and the Principal, the faculty works to achieve a brighter future for the students to attain academic excellence.
            </p><p>
                In the year 2004, 2013 and 2019 the Department of Computer Science duly participated in the process and made successful presentation to the NAAC Peer Team. Since then, the Department has made honest efforts to implement the recommendations of the NAAC team within the available infrastructure of the institution.</p>
                </p>      
            </div>
            <div class="aboutcl">
                <h3 align="center">VISION AND MISSION</h3>
                <p>
                    To develop globally competent computer science graduates with moral values committed to build a vibrant nation.
</p><p>

    <li>                • To provide quality Computer Science education to satisfy the necessity of profession and society.
        </li>            
           <li>       • To provide a learning atmosphere to boost innovations, problem solving skills, leadership qualities, team-spirit and ethical responsibilities.
               </li>     
                   <li> • Establish Industry Institute Interaction programmes to boost the entrepreneurship skills
                    </li>
                    <li>• Provide exposure of latest tools and technologies in the area of computing technology
                    </li>
                    <li>• Promote analysis based projects/activities within the enhancing areas of technology convergence    
</li>
                    </p>
            </div>
        <div class="map">
        <center>
            <h4>Where we are located ?</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.764967057379!2d77.52827321461098!3d9.466556393218086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06e9d898934809%3A0x4ee80838bdbdae10!2sCS%20department!5e1!3m2!1sen!2sin!4v1678508580152!5m2!1sen!2sin" width="1040" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>  
    </div>
    <div class="footer">
        <h3>&#169; Copyright by United R&D 2023</h3>
        <h4 align="right">All Rights Reserved ^</h4>
        <div class="uplink">
            <a href="index.html">HOME</a>
        <a href="tech.html">TECH</a>
        <a href="nature.html">NATURE</a>
        <a href="faculty.html">STAFF</a>
        <a href="devs.html">DEV</a>
        <a href="about.html">ABOUT</a>
        <br>
        <a href="#">PRIVACY POLICY</a><br>
        <a href="#">Release Notes</a>
    </div>
    </div>
    </body>
</html>