<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>
            DEVS | RRC CS 
        </title>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="devps">
            <h2 align="center">DEVELOPERS INVOLVED</h2>
            <img src="" alt="hi" align="left">
            <center>
            <img src="" alt="hi">
            </center>
            <img src="" alt="hi" align="right">
        </div>
        <div>
            <center>
            <h2>FROM IDEATION TO LAUNCH</h2>
            <h4>
                Full updation from nothing to fully coded environment
            </h4>
        </center>
            </div>
            <%- include('footer') %>
    </body>
</html>