<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <title>
            FACULTY | RRC CS 
        </title>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="T-staffs">
            <img src="">
            <h5>Mr.A</h5>
            <center>
            <img src="">
            <h5>Mr.B</h5>
        </center>
        <img src="" align="right" >
        <h5 align="right">Mr.C</h5>
        </div>
        <%- include('footer') %>
    </body>
</html>