<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>
<div class="footer">
    <h3>&#169; Copyright by United R&D 2023</h3>
    <h4 align="right">All Rights Reserved </h4>
    <div class="uplink">
        <a href="index.html">HOME</a>
    <a href="/tech">TECH</a>
    <a href="/Nature">NATURE</a>
    <a href="/faculty">STAFF</a>
    <a href="/devs">DEV</a>
    <a href="/about">ABOUT</a>
    <br>
    <a href="#">PRIVACY POLICY</a><br>
    <a href="#">Release Notes</a>
</div>
</div>
</html>