<!--Coded By United R&D-->
<!--Copyright By Sunil-->
<html>
    <link rel="stylesheet" href="style.css">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
<script src="app.js" defer></script>
        <title>RRC CS</title>
    </head>
    <body>
        <body oncontextmenu="return false;"><!--DISABLE THE COPYCATS-->
        <h1 align="center">RRC CS</h1>
        <div class="navbar">
        <a class="active" href="/">HOME </a>
        <a href="/tech">TECHNOLOGY </a>
        <a href="/Nature">NATURE </a>
        <a href="/faculty">FACULTY </a>
        <a href="/devs">DEV </a>
        <a href="/about">ABOUT </a>
    </div>
    <marquee>UPCOMING EVENTS REG. LINK</marquee>
    <div class="articles">
        <h2>Articles for technical knowledge</h3>    
<a href="#">Article Section</a>
<div class="video">
<h2>Video Based Learning</h2>
<img src="" align="right">
        </div>
        <p>WE found <%= numberofMembers %> members</p>
            <h2>Become a member</h2>
            <h4>Get technical newsletters</h4>
            <form action="/Home" method="POST">
            <input type="text" placeholder="Enter Mail" name="member">
            <button>Join Now</button>
            </form>
        <div class="footer">
            <h3>&#169; Copyright by United R&D 2023</h3>
            <h4 align="right">All Rights Reserved ^</h4>
            <div class="uplink">
            <a href="index.html">HOME</a>
        <a href="tech.html">TECH</a>
        <a href="nature.html">NATURE</a>
        <a href="faculty.html">STAFF</a>
        <a href="devs.html">DEV</a>
        <a href="about.html">ABOUT</a>
        <br>
        <a href="#">PRIVACY POLICY</a><br>
        <a href="#">Release Notes</a>
    </div>
    </body>
</html>