<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <!--Login-->
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label>Mail</label>
            <input type="email" name="mail" required>
            <label>Password</label>
            <input type="password" name="epassword" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>