<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>
            NATURE | RRC CS 
        </title>
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="index.html">HOME </a>
            <a href="tech.html">TECHNOLOGY </a>
            <a href="nature.html">NATURE </a>
            <a href="faculty.html">FACULTY </a>
            <a href="devs.html">DEV </a>
            <a href="about.html">ABOUT </a>
        </div>
        <h1 align ="center">NATURE</h1>
        <%- include('faculty') %>


        <div class="footer">
            <h3>&#169; Copyright by United R&D 2023</h3>
            <h4 align="right">All Rights Reserved ^</h4>
            <div class="uplink">
                <a href="index.html">HOME</a>
            <a href="tech.html">TECH</a>
            <a href="nature.html">NATURE</a>
            <a href="faculty.html">STAFF</a>
            <a href="devs.html">DEV</a>
            <a href="about.html">ABOUT</a>
            <br>
            <a href="#">PRIVACY POLICY</a><br>
            <a href="#">Release Notes</a>
        </div>
        </div>
    </body>
</html>