<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>
            NATURE | RRC CS 
        </title>
    </head>
    <body>
        <h1 align ="center">NATURE</h1>
        <%- include('faculty') %>
        <%- include('footer') %>
    </body>
</html>