<div class="navbar">
    <a class="active" href="/">HOME </a>
    <a href="/tech">TECHNOLOGY </a>
    <a href="/Nature">NATURE </a>
    <a href="/faculty">FACULTY </a>
    <a href="/devs">DEV </a>
    <a href="/about">ABOUT </a>
</div>