<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>
<div class="navbar">
    <a class="active" href="/">HOME </a>
    <a href="/tech">TECHNOLOGY </a>
    <a href="/Nature">NATURE </a>
    <a href="/faculty">FACULTY </a>
    <a href="/devs">DEV </a>
    <a href="/about">ABOUT </a>
</div>
</html>