<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>Technology | RRC CS</title>
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="/Home">HOME </a>
            <a href="/tech">TECHNOLOGY </a>
            <a href="/Nature">NATURE </a>
            <a href="/faculty">FACULTY </a>
            <a href="/devs">DEV </a>
            <a href="/about">ABOUT </a>
        </div>  
        <div class="tech">
            <h1 align="center">
                Unleash the power in you ..
            </h1>
            <img src="" align="right">
            <p>Learn Technology and Get Powered</p>
        </div>
        <div class="tech2">
            <h2 align="center">"PROJECT HALL</h2>
            <img src="" align="right">
            <p>View Our Innovative Projects here.You can also be a part of 
                generating more innovative features and Optimize them.
                <b>You can also use them for your reference too.</b>
                <br>
                <small>Terms and Conditions Apply*</small>
            </p><center>
  <a href="#"><button>LAUNCH NOW</button></a>
</center>
        </div>
        <div class="tech3">
            <h2 align="center">BE A PART OF UNITED R&D</h2>
            <img src="" align="left">
            <h5 align="right">We work on Solutions for organizations 
                that are powered with Huge Productivity level 
                to be delivered to a major scale with Simplicity.
            </h5><center>
            <input type="mail" placeholder="Enter your mail here" align="center" class="mailbox">
            <button>Join Now</button>
        </center>
        </div>
            <div class="footer">
                <h3>&#169; Copyright by United R&D 2023</h3>
                <h4 align="right">All Rights Reserved ^</h4>
                <div class="uplink">
                    <a href="index.html">HOME</a>
                <a href="/tech">TECH</a>
                <a href="/Nature">NATURE</a>
                <a href="/faculty">STAFF</a>
                <a href="/devs">DEV</a>
                <a href="/about">ABOUT</a>
                <br>
                <a href="#">PRIVACY POLICY</a><br>
                <a href="#">Release Notes</a>
            </div>
            </div>
    </body>
</html>