<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
        <title>
            DEVS | RRC CS 
        </title>
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="index.html">HOME </a>
            <a href="tech.html">TECHNOLOGY </a>
            <a href="nature.html">NATURE </a>
            <a href="faculty.html">FACULTY </a>
            <a href="devs.html">DEV </a>
            <a href="about.html">ABOUT </a>
        </div>
 