
<%- include('navbar') %>
<head>
	<title>About | VRC TRUST</title>
</head>


		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="1.2" style="background-image: url(i22.jpg);">
				<div class="desc animate-box">
					<h2>Our <strong>MISSION</strong></h2>
					<span>Impacting Lives and Inspiring others to serve the society</span>
				</div>
			</div>

		</div>
		
		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>How we started</h3>
						<br>
						<h4>Vinesh Ramakrishnan Charitable Trust</h4>
						<p>VRCT was started last year to continue the dreams of Vinesh. We wish to motivate youngsters in the field of science and technology and widen their skills by conducting workshops and Motivational lectures as part of our Skill Up program. We will also help people in need. We hope that this trust will grow manifold to serve a large number of people in the coming years.</p>
					</div>
				</div>
				</div>
				</div>
		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>About Vinesh Ramakrishnan</h3>
						<li>
							<p>B.E. Production Engg. at PSG Coimbatore</p>
							<p>Worked as Lead designer, Animator and trainer at Warhorse Chennai</p>
							<p>Worked as special effects video creator for Dream on me Inc. USA</p>
							<p>VFX enthusiast, was an expert in making special effects videos and video editing.</p>
							<p>Game developer and designer of Virtual Reality environment</p>
							<p>Performed magic shows</p>
							<p>Learnt to play guitar and piano by himself and good at composing music.</p>
							<p>Budding artist, good at sketching and drawing</p>
							<p>	Film and music buff</p>
							<p>Can solve Rubik’s cube under 30 seconds</p>
							<p>Sculpting with clay</p>
							<p>	Leather craft</p>
							<p>	Learnt to juggle </p>
						</li>
						<p>His motto in life is to be learning constantly. He pursued whatever he did with great passion. He was very creative and was keen on learning new technologies, programming languages and art forms. He was a teacher and mentor to many, encouraging them to excel in their chosen career. He has impacted several people.
							Always helped others and was a perfectionist in his job. A compassionate and loving person who had diverse interests.
							</p>
					</div>
				</div>
			</div>
			</div>
		<%- include('footer') %>
	</body>
</html>

