
<%- include('navbar') %>
<head>
	<title>Contact | VRC TRUST</title>
</head>


		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="1.5" style="background-image: url(lg.jpg);">
				<div class="desc animate-box">
					<h2><strong>Contact</strong> Us</h2>
					<span>Serving  the Society</span>
					<span><a class="btn btn-primary btn-lg" href="#fh5co-contact">Know More</a></span>
				</div>
			</div>

		</div>
		
		<div id="fh5co-contact" class="animate-box">
			<div class="container">
				<form action="#">
					<div class="row">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li>OLD 47/4 , NEW 50/4 , 11TH AVENUE , ASHOK NAGAR , CHENNAI - 600083 </li>
								<li><a href="tel:+919444333708">Call us</a></li>
								<li>Mobile: <b>944333708 , 9444047799</b> </li>
								<li><a href="mailto:vineshrct@gmail.com">Email us</a></li>
								<li>Mail id: <b>vineshrct@gmail.com</b></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<%- include('footer') %>

