<%- include('navbar') %>
<head>
	<title>Gallery | VRC TRUST</title>
</head>

<div id="fh5co-portfolio">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                <h3>Our Gallery</h3>
                <p>Welcome to our captivating gallery – where every click is a journey into the heart of our visual story</p>
            </div>
        </div>

        
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">

                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image:url(i1.jpg); ">
                        <a href="#" class="color-3">
                        </a>
                    </li>
                
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i2.jpg); ">
                        <a href="#" class="color-4">
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i3.jpg); "> 
                        <a href="#" class="color-5">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i4.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i5.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i6.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i7.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i8.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i9.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i10.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i11.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i12.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i13.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i14.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i15.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i16.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i17.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i18.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i19.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i20.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i21.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                </ul>	
            </div>
        </div>
        </div>
        </div>
<%- include('footer') %>
    </body>