<%- include('navbar') %>
		
<head>
	<title>VRC TRUST</title>
</head>
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(vc1.jpg);">
				<div class="desc animate-box">
					<h2><strong>Giving Hope to the world</strong></h2>
					<span>Welcome to <a href="" target="_blank" class="fh5co-site-name">Vinesh Ramakrishna Charitable Trust </a></span>
					<span><a class="btn btn-primary btn-lg" href="#">Contribute Now</a></span>
				</div>
			</div>

		</div>
		<!-- end:header-top -->
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-profile-male"></i>
							</span>
							<div class="feature-copy">
								<h3>Become a volunteer</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-happy"></i>
							</span>
							<div class="feature-copy">
								<h3>Happy Giving</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Donation</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>Giving is Virtue.</h3>
						<p>We conduct awarness events to provide our utmpst value to the society for its growth</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-12 text-center animate-box">
						<p><img src="i17.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" ></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="i12.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" ></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="i21.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" ></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="feature-text">
							<h3>SKILL Development programme</h3>
							<p>Dr.V.Iraianbu 's speech motivated students to a enlightened path</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>AWARNESS PROGRAMMES</h3>
							<p>Numerous number of awarness programmes have been conducted for student welfare</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>GROWING BUDDING SOCIETY</h3>
							<p>Building new visionary students for strong growth of nation</p>
						</div>
					</div>
				</div>

				
			</div>
		</div>

		
		<div id="fh5co-portfolio">
			<div class="container">

				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
						<h3>Our Glorious Clicks</h3>
					</div>
				</div>

				
				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i16.jpg); ">
								<a href="#" class="color-3">
									<div class="case-studies-summary">
										<span>Student Welfare</span>
										<h2>Speech by Dr.Iraianbu IAS</h2>
									</div>
								</a>
							</li>
						
							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i1.jpg); ">
								<a href="#" class="color-4">
									<div class="case-studies-summary">
										<span>Lorem</span>
										<h2>Programme</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i19.jpg); "> 
								<a href="#" class="color-5">
									<div class="case-studies-summary">
										<span>Student Awarness</span>
										<h2>Community awarness provided by Public Speaker</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i15.jpg); ">
								<a href="#" class="color-6">
									<div class="case-studies-summary">
										<span>Skill Development Programme</span>
										<h2>Speech given to Students</h2>
									</div>
								</a>
							</li>
						</ul>		
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="/Gallery" class="btn btn-primary btn-lg">See Gallery</a>
					</div>
				</div>

				
			</div>
		</div>
		

		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Members</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/person_1.jpg" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
							</blockquote>
							<span>Jean Doe, XYZ Co.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/person_2.jpg" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
							</blockquote>
							<span>John Doe, XYZ Co.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/person_3.jpg" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
							</blockquote>
							<span>John Doe, XYZ Co.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-content-section -->

		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Services. Support Us</h3>
						<p>We Dedicate our Soul to Serve the Society </p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<img src="i21.jpg" height="220px" width="325px"> 
							<h3>Student Skill Development </h3>
							<p>Hosted a Awarness Program with  <b>Dr.K.Sarukesi , Former Vice Chancellor , Hindustan University </b> for the skill Development of students </p>
							<br>
							<p>Venue : Smart Hall , Rajapalayam Rajus' College</p>
							<br>
							<p>Date : 16 . 11 . 2022</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<img src="i17.jpg" height="220px" width="320px"> 
							<h3>Skill Up Programme </h3>
							<p>Hosted a Skill Enhancement Program with <b>Dr.V.Iraianbu , Former Chief Secretary , Tamilnadu </b></p>
							<br>
							<p>Venue : Alumni Association Auditorium , Rajapalayam Rajus' College </p>
							<br>
							<p>Date : 12 . 10 . 2023</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<img src="i4.jpg" height="220px" width="320px"> 
							<h3>More Innovative Programs</h3>
							<p>Special Awarness is given to students as they are the future pillars of our society</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center animate-box">
					<a href="/services" class="btn btn-primary btn-lg">Know More</a>
				</div>
			</div>
		</div>


		<!-- END What we do -->

		<%- include('footer') %>
